.button {
  background: darken($color: $blue, $amount: 10);
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 400;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--trans {
  background: none;
}

.button--secondary {
  background: darken($color: $gray, $amount: 30);
}

.button__brand--mb {
  margin-bottom: .6rem;
}  
.button--google {
 background: $blue;
}
.button--github {
  background: hsl(210,12%,16%);
}

.button--facebook {
  background: hsl(220,46%,48%);
 }
.button--close {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2rem;
}
.button__logout--left {
  border: 0;
  background-color: darken($blue, 10);
  color: white;
  padding: 7px 12px;
}