.slash-layout {
  align-items: center;
  background: url('/images/venveosplash.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.slash-layout__box {
  background: fade-out($color: white, $amount: .15);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $l-size $m-size;
  text-align: center;
  width: 30rem;  
}

.slash-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
